@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400;500&family=Poppins:ital,wght@1,200&family=Source+Serif+Pro:wght@200&display=swap');

body{
    background-color: red;
    display:grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 30px auto ; 
    margin: 0 auto; 
    font-family: 'Poppins', sans-serif;

}
.top{
    background-color: rgba(198, 178, 178, 0.838);
    grid-column: span 3;
    grid-row-start: 0;
    grid-row-end: 1;
    text-align: center;
    font-size: xx-large;

}
.top nav{
    text-align: end;
    font-size: medium;
    background-color: white;
}
.nav{
    grid-column-start:2;
    grid-column-end: 3;
    grid-row-start:1;
    grid-row-end: 2;
    background-color: gray; 
    text-align: center;
   
}

.middle{
     
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: white;
    text-align: center;
    font-size: large;
}
.right{
    text-align: end;
    background-color: gray;
    font-size: large;
}
.left{
    text-align: center;
    background-color: gray;
    font-size: large;
}

.middle div{
    justify-content: right;
}

ul{
    list-style: none;
}

